<div class="menu">
  	<div class="container">
		<ul>
			<li><%= link_to 'Inicio', root_path%></li>
			<li><%= link_to('Agregar productos', new_product_path) %></li>
			<li><%= link_to 'Agregar proveedor', new_supplier_path %></li>
			<li><%= link_to 'Agregar marca', new_brand_path %></li>
			<li><%= link_to 'Inventario',inventario_path %></li>
			<li><%= link_to 'Carritos abandonados', carritos_abandonados_path %></li>
			<li><%= link_to 'Ordenes', ordenes_path %></li>
		</ul>
  	</div>
</div>